@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
/*font-family: 'Poppins', sans-serif;*/
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px  !important;
	line-height: 20px;
	color: #000000  !important;
	font-weight: 400  !important;
}
/*html{scroll-behavior: smooth;}*/

*{
    margin: 0; padding: 0;
}
ul { padding: 0; margin: 0; list-style-type: none; }

a{
	text-decoration: none !important;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
    color: #000;
}
a:hover{
	color: #185494;
}
a:focus, button:focus, input:focus, textarea:focus{
	outline: 0;
}

h2, .h2, h3, .h3, h4, .h4, h5{
	font-family: 'Poppins', sans-serif;
	transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.ptb{
	padding: 50px 0;
}
.innerptb{
    padding: 50px 0 150px 0;
}
.mt{
	margin-top: 50px;
}

.scsticky{
	position: sticky;
	top:0;
	height: 100vh;
}


.parallax{
	position: relative;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.transition{
	transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}


/* Header */

.bd_header{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}


.bd_header .navbar{
    padding:0;
}

.bd_menu li a{
	margin: 0 5px;
    padding: 6px 15px;
	color: #373737;
	font-size: 14px;
	line-height: 18px;
	position: relative;
    font-weight: 400;
}
.bd_menu li a:hover{color: #3480f6;}
.bd_menu li:nth-last-child(1) > a{padding-right: 0; margin-right: 0;}

.bd_menu li.active a {
    color: #3480f6!important;
}


/* Menu DropDown */
.bd_menu .menu-item-has-children {
    position: relative;
}
.bd_menu .menu-item-has-children:after{
    position: absolute;
    content: "\f078";
    font: normal normal normal 8px FontAwesome;
    right: 0;
    top: 40%;
    color: #8d8f8f;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.bd_menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 280px;
    border-radius: 5px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    z-index: 99;
}
.bd_menu .menu-item-has-children .sub-menu li {
    background: #392e74;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
}
.bd_menu .menu-item-has-children .sub-menu li a{
	font-size: 12px;
	line-height: 18px;
	display: block;
}
.bd_menu .menu-item-has-children:hover .sub-menu li {
    max-height: 150px;
    padding: 5px 0;
}

.bd_menu .menu-item-has-children .sub-menu li:hover{
    background: #2e2465;
}
.bd_menu .menu-item-has-children .sub-menu li a:hover:after, .bd_menu .menu-item-has-children .sub-menu li a:hover:before,
.bd_menu .menu-item-has-children .sub-menu li a:after, .bd_menu .menu-item-has-children .sub-menu li a:before{
    display: none;
}


/* End Menu DropDown */


/* Toggle*/

.bd_toggle.navbar-toggler{border: 0 !important; 
    background: transparent;
    padding: 0;
    line-height: normal;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.bd_toggle.navbar-toggler:focus{outline: 0;}
.bd_toggle span{
    width: 28px;
    height: 5px;
    background: #000;
    display: block;
    position: relative;
    margin: 0 0 0 9px;
}
.bd_toggle span:after{position:absolute;content:" ";width:22px;height:5px;top:-7px;left:0;right:0;background:#000;transition:0.2s;-moz-transition:0.2s;-ms-transition:0.2s;-o-transition:0.2s;-webkit-transition:0.2s;}
.bd_toggle span:before{position:absolute;content:" ";width:22px;height:5px;bottom:-7px;left:0;right:0;background:#000;transition:0.2s;-moz-transition:0.2s;-ms-transition:0.2s;-o-transition:0.2s;-webkit-transition:0.2s;}


/* Fix Header */

.fixed-top .header_top{display: none;}
.fixed-top .bd_nav {
    padding:0;
}
.fixed-top .bd_logo {
    width: 200px;
}
.fixed-top .navbar{
	padding: .2rem;
}
.fixed-top .bd_menu li a{
	font-size: 12px;
    line-height: 16px;
}

.head_rgt {
    margin-left: 30px;
}
.head_rgt .bd_btn{
    background: #3480f6;
}



/* Banner */

.banner_area{position: relative;}
.banner_img {
    height: 580px;
    overflow: hidden;
    position: relative;
}
.banner_img:after{
    position: absolute; content: " "; background: rgba(0,0,0,0.4);
    top: 0; left: 0; right: 0; bottom: 0;
}
.banner_text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0; right: 0;
    z-index: 9;
    color: #fff;
}

.banner_text h2{
    font-size: 50px; line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.banner_text p{
    font-size: 25px; line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.banner_area .owl-dots{
    margin-top: 0;
    position: absolute;
    top: 50%; 
    right: 100px;
    transform: translateY(-50%);
}
.banner_area .owl-theme .owl-dots .owl-dot{
    display: block;
    border: 1px solid transform;
    border-radius: 50px;
}
.banner_area .owl-theme .owl-dots .owl-dot.active{
    border: 1px solid #1c1c1c;
}
.banner_area .owl-theme .owl-dots .owl-dot span{
    width: 5px; height: 5px; background: #fff;
    margin: 5px;
}
.banner_area .owl-theme .owl-dots .owl-dot.active span, .banner_area .owl-theme .owl-dots .owl-dot:hover span{
    background: #1c1c1c;

}


 /* End Banner */

.bd_btn{
    font-size: 15px;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
    text-transform: capitalize;
    background: #f2a63e;
    border-radius: 50px;
}
.bd_btn i{margin-left: 10px;}
.bd_btn:hover{ color: #ffffff; background: #373737;}


/* Footer */

.footer_sec{
    background: #185494;
    padding-top: 100px;
}

.ftr_info{
    color: #747474;
    padding-right: 200px;
    font-size: 14px; line-height: 18px;
}
.ftr_box .ftr_logo{
    margin-bottom: 25px;
    display: block;
}

.ftr_box strong{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
}
.ftr_link {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ftr_link li {
    position: relative;
    margin: 5px 0;
    padding-left: 15px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.ftr_link li:after {
    position: absolute;
    content: "\f105";
    font: normal normal normal 12px FontAwesome;
    color: #b1cce8;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    line-height: 0;
}
.ftr_link li a {
    color: #b1cce8;
    font-size: 12px;
    line-height: 16px;
}
.ftr_link li a:hover{
color:#fff
}

.ftr_link p{
    color: #b1cce8;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.ftr_box .ftr_ad{
    position: relative;
    color: #b1cce8;
    font-size: 12px;
    line-height: 16px;
    padding-left: 25px;
    margin-bottom: 15px;
}
.ftr_box .ftr_ad img {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
}
.ftr_box .ftr_ad p{margin-bottom: 5px;}
.ftr_box .ftr_ad a{
    color: #b1cce8;
    font-size: 12px;
    line-height: 16px;
}

.footer_lower{
    position: relative;
    border-top: 1px solid #164c8f;
    padding:20px 0;
    margin-top: 50px;
    color: #b1cce8;
    font-size: 12px;
    line-height: 16px;
}
.footer_lower a{
    color: #b1cce8;
}

.social li{margin-left: 10px;}
.social li a{
    display: block;
    width: 27px;
    height: 27px;
    border:1px solid #3480f6; 
    border-radius: 50px;
    text-align: center;
    line-height: 27px;
    color: #fff;   
}
.social li a:hover{background: #3480f6;}

/* End Footer */

.heading{
	margin-bottom: 20px;
}
.heading h2{
	font-size: 40px;
	line-height: 45px;
    font-weight: 800;
	margin-bottom: 15px;
    color: #373737;
    position: relative;
}
.heading p{
	font-weight: 400;
	color: #808080;
}



/* Home */

.about_img img{width: 100%; height: 100%; object-fit: cover;}
.about_img .abimg1{
    width: 90%;
    height: 500px;
    border-top-left-radius: 50px;
    overflow: hidden;
}
.about_img .abimg2{
    width: 70%;
    height: 370px;
    margin-left: auto;
    margin-top: -300px;
    border-top-left-radius: 50px;
    overflow: hidden;
}
.about_text p{
    line-height: 28px;
    color: #808080;
}


.home_service{
    box-shadow: 0 0 10px 0 #ddd;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.home_service_img {
    flex: 0 0 65%;
    max-width: 65%;
}
.home_service_img img{width: 100%; height: 100%; object-fit: cover;}
.home_service_text{
    flex: 0 0 35%; max-width: 35%; padding: 30px;
}
.home_service_cont {
    margin-bottom: 30px;
}
.home_service_cont{
    color: #808080;
}
.home_service_text h4{
    font-size: 30px; line-height: 35px; color: #373737; font-weight: 600;
    margin-bottom: 30px;
}

.home_service_cont ul li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
}
/*.home_service_cont ul li:after{
    width: 8px; height:8px; border-radius: 10px; background: #888888; top:5px; left: 0;
    position: absolute; content: " ";
}*/


.guaranted_bg{
    background-image: url(../images/img4.jpg);
    position: relative;
}
.guaranted_bg:before{
    position: absolute; content: " ";
    background: rgba(214,214,214,0.9);
    top: 0; left: 0; bottom: 0; right: 0;
}
.guaranted_bg .container, .subscribe_form{
    z-index: 9; position: relative;
}
.guaranted_img{
    flex: 0 0 78%; max-width: 78%; margin-left: -8%;
    border-top-left-radius: 20px;
    overflow: hidden;
    height: 400px;
}
.guaranted_img img{width: 100%;
height: 100%;
    object-fit: cover;}
.guaranted_text{
    background: #001a48; padding: 30px 20px 20px 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    /*margin-right: -80px;*/
    z-index: 9;
    flex: 0 0 30%; max-width: 30%;
    color: #ffffff;
}
.guaranted_text h3{
    font-size: 25px; line-height: 30px; font-weight: 600;
    margin-bottom: 20px;
}


.subscribe_sec{
    background-image: url(../images/img4.jpg);
    position: relative;
    padding: 50px;
    background-position: center;
}
.subscribe_sec:before{
    position: absolute; content: " ";
    background: rgba(214,214,214,0.9);
    top: 0; left: 0; bottom: 0; right: 0;
}
.subscribe_sec .heading {
    z-index: 9; position: relative;
    text-transform: uppercase;
    color: #000;
}
.subscribe_sec .heading h2{
    font-weight: 600;
}
.subscribe_sec .heading p{color: #000;}



.subscribe_form{margin: 0 auto; width: 60%;}
.subscribe_form .emaillist{border-radius: 5px; overflow: hidden;}
.subscribe_form .es_subscription_form {
    position: relative;
}
.subscribe_form .es_subscription_form .es-field-wrap {
   width: 100%;
   margin-bottom: 0;
}
.subscribe_form .es_subscription_form .es-field-wrap label {
   margin: 0;
   width: 100%;
}
.subscribe_form .es_subscription_form .es-field-wrap .es_txt_email {
    background: #fff;
    border: 0;
    padding: 0 46px 0 20px;
    height: 55px;
    border-radius: 0;
    width: 100%;
   /*color: #fff;*/
}
.subscribe_form .es_subscription_form .es_subscription_form_submit {
    padding:0 20px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #f2a63e;
    text-transform: uppercase; color: #fff;
    font-size: 20px; font-weight: 600;
}

/*email*/
.c-email-sub-w {
    margin-top: 20px;
}
.c-email-sub-w .es_subscription_form  { position: relative; }
.c-email-sub-w .emaillist .es-field-wrap .es_txt_email { background-color:#000566; width: 100%; border:none;
padding:0px 10px; height: 50px; line-height: 50px; display: block; color: #fff; }
.c-email-sub-w .emaillist .es-field-wrap label { margin: 0; display: block; width: 100%; }
.c-email-sub-w .emaillist .es-field-wrap { padding-right: 135px; }
.c-email-sub-w  .es_subscription_form .es_subscription_form_submit { position: absolute; right: 0; top: 0;
    background-color:#8dc63f; text-transform: uppercase; font-size:16px; display: inline-block; padding: 0 40px; height: 50px; line-height: 50px; color: #000566; border:none; cursor: pointer;  font-weight: 500px;}
.c-email-sub-w  .es_subscription_form .es_subscription_form_submit:hover { background-color:#0391ee; color:#fff;} 
.c-email-sub-w .es_subscription_form   .es_spinner_image { position: absolute; right: 51px; top: 6px; }
.c-email-sub-w .es_subscription_form  .es_subscription_message { color: #fff; margin-top: 12px; display: block; }

/* Email */



/* Inner Page */

.inner_banner{
	position: relative;
	height: 400px;
	overflow: hidden;
}

.inner_banner img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inner_banner_text {
    background: #000000cf;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.inner_banner_text .page-title {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 100;
}
.inner_banner_text .breadcrumb {
    margin-bottom: 0;
    background: transparent;
    padding: 0;
    justify-content: flex-end;
}


.inner_banner_text .breadcrumb .breadcrumbs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}
.inner_banner_text .breadcrumb .breadcrumbs li{
    position: relative;
    padding-right: 14px;
    margin-right: 14px;
    text-transform:capitalize;
}
.inner_banner_text .breadcrumb .breadcrumbs li a{color: #fff;}
.inner_banner_text .breadcrumb .breadcrumbs li:after {
    display: inline-block;
    position: absolute;
    content: "\f105";
    top: 50%;
    right: 0;
    line-height: 1.72;
    font: normal normal normal 12px/1 FontAwesome;
    color: #fff;
    transform: translate3d(50%,-50%,0);
}
.inner_banner_text .breadcrumb .breadcrumbs li:nth-last-child(1):after{display: none;}
.inner_banner_text .breadcrumb .breadcrumbs li:nth-last-child(1){padding-right: 0; margin-right: 0;}
.inner_banner_text .breadcrumb .breadcrumbs li, .breadcrumbs_custom .breadcrumbs li strong {
    display: inline-block;
    font-weight: 100;
    color: #fff;
}
.inner_banner_text .breadcrumb .breadcrumbs li.separator{display: none;}



/* Inner Content */

.inner_con{
	color: #251501;
    font-weight: 500;
}
.inner_con .alignright{
	float: right;
	margin: 20px 0 20px 20px;
	filter: drop-shadow(5px 5px 5px #222);
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	-moz-filter: drop-shadow(5px 5px 5px #222);
	-ms-filter: drop-shadow(5px 5px 5px #222); 
}
.inner_con .alignleft{
	float: left;
	margin: 20px 20px 20px 0;
	filter: drop-shadow(-5px 5px 5px #222);
	-webkit-filter: drop-shadow(-5px 5px 5px #222);
	-moz-filter: drop-shadow(-5px 5px 5px #222);
	-ms-filter: drop-shadow(-5px 5px 5px #222);
}

.inner_con .heading h2{
	font-size: 35px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #1f1f1f;
    position: relative;
    font-weight: 600;
    padding-bottom: 10px;
}

.inner_con h2{
	color: #000;
	font-size: 30px;
	line-height: 34px;
    letter-spacing: 1px;
}
.inner_con h3{
	color: #000;
	font-size: 26px;
	line-height: 30px;
}
.inner_con h4{
	color: #000;
	font-size: 22px;
	line-height: 28px;
}
.inner_con ul{
	padding-left: 0;
	list-style-type: none;
}
.inner_con ul li{
	position: relative;
    margin: 5px 0;
    padding-left: 15px;
}
.inner_con ul li:after{
	position: absolute;
    content: "\f105";
    font: normal normal normal 14px FontAwesome;
    color: #3e206d;
    top: 50%;
    left: 0;
    transform: translateX(50%);
    line-height: 1px;
}

.inner_con h6{
	font-size: 50px;
	line-height: 56px;
}


/* Inner Page */



/* Contact */

.contact_sec p{
    color: #46617d;
    font-weight: 400;
}
.contact_sec ul li{padding-left: 0;}
.contact_sec ul li:after{display: none;}
.con_heading{margin-bottom: 20px;}
.con_heading h2{
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #185494;
    position: relative;
    padding-bottom: 10px;
}
.con_heading h2:after{
    position: absolute;
    content: " ";
    width: 80px;
    height: 2px;
    background: #185494;
    bottom: 0; left: 0;
    border-radius: 5px;
}
.condetails {
    margin-bottom: 25px;
}
.condetails li{
    padding-left: 35px !important;
    margin-bottom: 20px !important;
    margin-top: 0 !important;
}
.condetails li:nth-last-child(1){
    margin-bottom: 0 !important
}
.condetails li i{
   position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: #185494;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
}

.consocial .social li a{
    background: #185494;
    margin-right: 10px;
}

.conmap{margin-top: 20px;}
.conmap iframe{
    width: 100%; height: 300px;
}




.contact_form1 label{
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
}
.contact_form1 label span{color: red;}

.contact_form1 .wpcf7-form-control::placeholder {
  color: #c2c2c2;
}

.contact_form1 .wpcf7-form-control, .contact_form1 .wpcf7-form-control:-internal-autofill-selected{
    width: 100%;
    padding-left: 20px;
    background-color: transparent;
    border-top: 0; border-left: 0; border-right: 0;
    border-bottom:2px solid #eceef2;
    color: #0000;
    transition: 0.5s;
    position: relative;
}
.contact_form1 input[type="text"], 
.contact_form1 input[type="text"]:focus, 
.contact_form1 input[type="email"], 
.contact_form1 input[type="email"]:focus, 
.contact_form1 input[type="tel"], 
.contact_form1 input[type="tel"]:focus,
.contact_form1 input[type="number"], 
.contact_form1 input[type="number"]:focus,
.contact_form1 textarea
{
    width: 100%;
    padding:0 10px 0 20px;
    background-color: #e7f3ff;
    border-top: 0; border-left: 0; border-right: 0;
    border-bottom:2px solid #c8e1fb;
    color: #000;
    transition: 0.5s;
    position: relative;
}
.contact_form1 .wpcf7-form-control:focus{
    border-color: #000 !important;
}
.contact_form1 .wpcf7-text, .contact_form1 .wpcf7-number {
    height: 45px;
    border:0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
.contact_form1 .wpcf7-textarea {
    height: 100px;
    padding-top:20px;
    border-top: 0; border-left: 0; border-right: 0;
    border-bottom:2px solid #c8e1fb;
    background-color: #e7f3ff;
    border-radius:10px;
    color: #000;
}
.contact_form1 .wpcf7-submit {
    height: 40px;
    padding: 0 40px;
    border-radius: 50px;
    display: inline-block;
    background:#f2a63e;
    color: #fff;
    letter-spacing: 1px;
    width: auto;
    font-weight: 500;
    margin-bottom: 0;
    border: 0;
    text-transform: uppercase;
}
.contact_form1 .wpcf7-submit:hover{
    background: #185494;
    color: #ffffff;
}

/***********/

.contact_form .wpcf7-form-control::placeholder {
  color: #858585;
}

.contact_form .wpcf7-form-control, .contact_form .wpcf7-form-control:-internal-autofill-selected{
	width: 100%;
    padding-left: 20px;
    background-color: transparent;
    border:1px solid #cccccc;
    color: #0000;
    transition: 0.5s;
    position: relative;
}
.contact_form input[type="text"], 
.contact_form input[type="text"]:focus, 
.contact_form input[type="email"], 
.contact_form input[type="email"]:focus, 
.contact_form input[type="tel"], 
.contact_form input[type="tel"]:focus,
.contact_form textarea
{
    width: 100%;
    padding:0 10px;
    background-color: #fff;
    border:1px solid #cccccc;
    color: #000;
    transition: 0.5s;
    position: relative;
}
.contact_form .wpcf7-form-control:focus{
    border-color: #000 !important;
}
.contact_form .wpcf7-text {
    height: 45px;
    border:0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.contact_form .wpcf7-textarea {
    height: 100px;
    padding-top: 10px;
}
.contact_form .wpcf7-submit {
    height: 40px;
    padding: 0 30px;
    display: inline-block;
    background: #000566;
    color: #8dc63f;
    width: auto;
    font-weight: 500;
    margin-bottom: 0;
    border: 0;
    text-transform: uppercase;
}
.contact_form .wpcf7-submit:hover{
	background: #8dc63f;
	color: #000566;
}
.contact_form li a, .contact_form li span {
    color: #252525;
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}


.contact_form.appointment_form .wpcf7-form-control, .contact_form.appointment_form .wpcf7-form-control:-internal-autofill-selected{
    padding-left: 10px;
}
.contact_form.appointment_form .wpcf7-submit{
    padding: 0 30px;
}


.map_area iframe {
    width: 100%;
    height: 450px;
    opacity: 0.8;
    display: block;
}

.contact_con_form{
    background: #fff;
    padding: 50px 40px;
    max-width:70%;
    box-shadow: 0 0 10px 0 #dddede;
}
.contact_con_form .contact_form1 .bd-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


/* 404 */

.error-404 {
    color: #000;
}
.error-404 h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 104px;
    letter-spacing: -15px;
    -webkit-text-stroke: 1px #f79420;
    color: transparent;
}
.error-404 a {
    background: #f79420;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-transform: uppercase;
}

.wpcf7-not-valid-tip{font-size: 12px !important; line-height: 16px;}
div.wpcf7-mail-sent-ok{
	background: #398f14;
	color: #fff;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	background: #f7e700;
	color: #252525;
}

/* comment-respond */

.comments-area{
    margin-top: 40px;
}
.comment-respond .comment-reply-title{
    font-size: 26px;
    line-height: 30px;
    color: #252525;
    margin-bottom: 15px;
}
.comments-area .comments-title{
    font-size: 20px;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}
.comment-form p label{display: block;}
.comment-form input, .comment-form textarea{width: 100%; padding: 10px; border: 1px solid #d7f1ea;}
.comment-form input{height: 40px;}
.comment-form input[type=checkbox]{width: auto; height: auto;}
.comment-form p.comment-form-cookies-consent label{display: inline-block; margin-left: 10px;}

.form-submit {
    text-align: right;
}
.form-submit .submit{
    border: none;
    border-radius: 5px;
    background: #ee2fb0;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 0;
    width: auto;
    padding: 0 20px;
}
.form-submit .submit:hover{background: #252525;}

.comment-list {
    list-style-type: none;
}

.post-navigation .screen-reader-text{display: none;}

.post-navigation .nav-links{display: flex;}
.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next
{
    flex: 1;
}
.post-navigation .nav-links .nav-next{text-align: right;}
.post-navigation .nav-links .meta-nav{
    display: block;
    color: #767676;
    font-size: 12px;
}
.post-navigation .nav-links .post-title{
    color: #252525;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    position: relative;
}
.post-navigation .nav-links .post-title:after{
    position: absolute;
    top: 3px;
    color: #252525;
    font-size: 14px;
    font: normal normal normal 14px FontAwesome;
}
.post-navigation .nav-links .nav-next .post-title:after{
    content: "\f061";
    right: -15px;
}
.post-navigation .nav-links .nav-previous .post-title:after{
    content: "\f060";
    left: -15px;
}



.room_carousel {
    margin-top: 50px;
}
.carousel_room_box{
    position: relative;
}
.room_img{height: 350px; border-top-left-radius: 10px;
    overflow: hidden;
    border-top-right-radius: 10px;}
.room_img img{width: 100%; height: 100%; object-fit: cover;}
.room-cont-footer {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 #efeeee;
}
.room-carousel.owl-carousel .owl-stage-outer{
	padding: 10px;
}
.room_contop {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.room_contop .title, .room_contop .price{
	flex:0 0 50%; max-width: 50%;
	font-weight: 600;
}
.room_contop .title{
	font-size: 18px; line-height: 22px;
}
.room_contop .price{text-align: right; font-size: 22px; line-height: 26px; color: #3480f6;}
.room_conbtm .description{color: #373737; font-size: 14px; line-height: 18px;}

.owl-carousel.room-carousel .owl-nav{
    margin-top: 0;
}
.owl-carousel.room-carousel .owl-nav button{
    position: absolute;
    top: -80px;
    right: 10px;
}
.owl-carousel.room-carousel .owl-nav button:hover{background: transparent;}
.owl-carousel.room-carousel .owl-nav button.owl-next{}
.owl-carousel.room-carousel .owl-nav button.owl-prev{right: 60px}
.owl-carousel.room-carousel .owl-nav button span{
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
    border: 1px solid #f3af52;
    border-radius: 50px;
}
.owl-carousel.room-carousel .owl-nav button.owl-next span{
    background: url(../images/rgtarow.png) no-repeat center center;
}
.owl-carousel.room-carousel .owl-nav button.owl-prev span{
    background: url(../images/lftarow.png) no-repeat center center;
}
.owl-carousel.room-carousel .owl-nav button.disabled span{
   	width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
    border: 1px solid #b7b7b7;
    border-radius: 50px;
}
.owl-carousel.room-carousel .owl-nav button.owl-next.disabled span{
    background: url(../images/lftdarow.png) no-repeat center center;
}
.owl-carousel.room-carousel .owl-nav button.owl-prev.disabled span{
    background: url(../images/rgtdarow.png) no-repeat center center;
}


/* Archive Product Css */


.rates_sec .woocommerce-ordering .orderby{
    height: 40px;
    padding: 0 10px;
}


.woocommerce .rates_sec ul.products li.product, .woocommerce-page .rates_sec ul.products li.product
{
    margin: 0;
    width: 33.3%;
}
.woocommerce .rates_sec ul.products li.product a, .woocommerce-page .rates_sec ul.products li.product a{
    display: block;
    margin: 15px;
}
.woocommerce .rates_sec ul.products li.product a img, .woocommerce-page .rates_sec ul.products li.product a img{
    margin-bottom: 0;
}
.woocommerce .rates_sec ul.products li.product a .woocommerce-loop-product__title {
    background: #185494;
    padding: 10px 10px 10px 10px !important;
    color: #fff;
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 600;
}
.woocommerce .rates_sec ul.products li.product a .price {
    background: #185494;
    padding: 0px 10px 10px 10px !important;
    color: #fff !important;
    font-size: 16px !important;
    line-height: 20px;
    margin-bottom: 0 !important;
}
.woocommerce .rates_sec .woocommerce-result-count{margin-left: 15px;}
.woocommerce .rates_sec .woocommerce-ordering{margin-right: 15px;}

.woocommerce .rates_sec .products .star-rating{
    float: right;
    margin: 0 10px 0 0;
}
.woocommerce .rates_sec .products .star-rating:before{
    color: #ff9900;
}
.woocommerce .rates_sec .star-rating span:before{
    color: #ff9900;
}


.woocommerce .ratesdetails_sec div.product p.price{
    font-size: 35px;
    line-height: 40px;
    color: #185494;
    display: inline-block;
}
.woocommerce .ratesdetails_sec div.product p.price .woocommerce-Price-currencySymbol{
    font-weight: 600;
    font-size: 40px;
}
.woocommerce .ratesdetails_sec .woocommerce-product-details__short-description{
    display: inline-block;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

.woocommerce .ratesdetails_sec .star-rating span::before{
    color: #ff9900;
}

.woocommerce .ratesdetails_sec ul.products li.product {
    
}
.woocommerce .ratesdetails_sec ul.products li.product img{margin-bottom: 0;}
.woocommerce .ratesdetails_sec ul.products li.product a .woocommerce-loop-product__title {
    background: #185494;
    padding: 10px 10px 10px 10px !important;
    color: #fff;
    font-size: 16px !important;
    line-height: 20px;
    font-weight: 600;
}
.woocommerce .ratesdetails_sec .products .star-rating {
    float: right;
    margin: 0 10px 0 0;
}
.woocommerce .ratesdetails_sec ul.products li.product a .price {
    background: #185494;
    padding: 0px 10px 10px 10px !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 18px;
    margin-bottom: 0 !important;
}

.woocommerce .ratesdetails_sec .comment-respond .comment-reply-title{
    font-size: 20px;
    line-height: 24px;
    color: #ff9900;
    margin-bottom: 15px;
}
.woocommerce div.product .woocommerce-tabs .panel {
    padding: 30px 15px;
    border: #ddd solid 1px;
    border-top: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{margin-bottom: 0;}
.woocommerce div.product .woocommerce-tabs .panel h2{
    font-size: 20px;
    line-height: 24px;
    color: #185494;
    font-weight: 600;
}
.comment-form {
    max-width: 600px;
    background-color: #185494;
    border: #185494 solid 1px;
    padding: 15px;
    margin-top: 15px;
    color: #fff;
}
.woocommerce .comment-form p.stars a {color: #ff9900;}
.woocommerce .ratesdetails_sec #respond input#submit{
    color: #fffefe;
    background-color: #ff9900;
}
.related{
    margin-top: 40px;
}
.related h2{
    font-size: 24px;
    line-height: 30px;
    color: #185494;
    font-weight: 600;
    margin-bottom: 20px;
}


/* Gallery */

.gallery_box {
    height: 250px;
    overflow: hidden;
    background: #000;
    position: relative;
}
.gallery_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
.bd_zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color:#a2a2a2;
    background: #fff;
    opacity: 0;
    padding: 6px 8px;
    border-radius: 2px;
    font-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
.gallery_box:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.gallery_box:hover .bd_zoom {
    opacity: 0.8;
}
.gatitle {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    bottom: -50px;
    padding: 10px 0;
    text-align: center;
    z-index: 99;
    background: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    color:#616161; font-weight: 600;
    font-size: 20px; line-height: 26px;
}
.gallery_box:hover .gatitle {
    bottom: 0;
}

/* Calender*/
#wrap {
    /*width: 1100px;*/
    margin: 0 auto;
}
#calendar .fc-header {
    background-color: #185494;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar{
    margin: 0 auto;
    /*width: 900px;*/
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}



.page-template-thank_you .bd_header {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.thankyou{background-image:url(../images/thanku.jpg); background-size:cover; background-position:top;  background-repeat:no-repeat; position:relative;}
.thankyou_sec {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.thankyou_cont {
    background: rgba(5, 64, 88, 0.72);
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
}
.thankyou_cont h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.thankyou_cont p {
    margin-bottom: 0;
}
.thankyou_cont p a{color: #fff;}
.thankyou_cont .bd_btn{margin-top: 20px;
    background: #09e2c5;
    color: #000;
    box-shadow: 0 0 10px 0 #08f5d5;
    border: 1px solid #09e2c5;}
.thankyou_cont .bd_btn:hover{
    background: #04f0f9;
    color: #000;
    box-shadow: 0 0 10px 0 #06c6ce;
    border: 1px solid #04f0f9;
}

/*Loading*/
    .load{
        color: #fff;
        font-weight: bold;
        font-size: 25px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        text-align: center;
        line-height: 120px;
        position: absolute;
        background: #fff;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 12;
    }
    .load img {
        width: 50%;
    }
    .load_se{
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
    }
    .load_se:after{
        position: absolute; top: 0;  left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.9);
        content: " ";
        z-index: 11;
    }
    .loader_line_mask{
        position: absolute;
        width: 120px;
        height: 120px;
        overflow: hidden;
        top: 0; 
    }
    .loding_line {
        box-shadow:inset 2px 4px 1px rgb(255, 255, 255,1);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        -webkit-animation: rotate 1.2s infinite linear;
        -moz-animation: rotate 1.2s infinite linear;
        -o-animation: rotate 1.2s infinite linear;
        animation: rotate 1.2s infinite linear; 
    }

    @keyframes rotate{
        0%{
            transform: rotate(0deg);
            box-shadow:inset 2px 4px 1px red;
        }
        100%{
            transform: rotate(360deg);  
            box-shadow:inset 2px 4px 1px green;
        }
    }

    .ratesdetails_sec .product_meta button.btn{
        font-size: 15px;
        color: #fff;
        padding: 10px 30px;
        display: inline-block;
        text-transform: capitalize;
        background: #f2a63e;
        border-radius: 50px;
        border: 0;
    }
    .ratesdetails_sec .product_meta button.btn:hover{
        color: #ffffff;
        background: #373737;
    }
    .ratesdetails_sec .product_meta button.btn:focus{
        box-shadow: 0 0 0 0.2rem rgba(242,166,62,.5)
    }


.enquiryform {
    background: rgba(0,0,0,0.6);
}
.enquiryform .modal-header{
    background: #185494;
    color: #fff;
}
.enquiryform .modal-header .close{
    padding: 0;
    margin: 0;
    background: #fff;
    opacity: 1;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50px;
}

.has-error small
{
    color: red;
}
.woocommerce-Price-currencySymbol
{
    font-family: sans-serif;
}
.service-text p
{
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
}
.service-section .home_service
{
    border-radius: 0px;
    padding-top: 14px;
}
.es_subscription_message p
{
    color: #427842;
    margin-top: 10px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
    position: fixed;
    top: 40%;
    left: 45%;
    z-index: 99999;
    display: none;
}
.loader-text {
    position: fixed;
    top: 36%;
    left: 45% !important;
    z-index: 9999;
    display: none;
}
.loader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    opacity: 0.5;
    top: 0;
    background: #ccc;
    display: none;
}